@import url('https://fonts.googleapis.com/css2?family=Inter:wght@550&display=swap');
@import url("./colors.css");

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

.p-title {
    margin-top: 0; font-size: 50px; color: white; margin-bottom: 0;
}

.p-undertitle {
    margin-top: 0;
    color: rgba(255, 255, 255, 0.5);
}

.panel {
    margin-top: 50px;
    margin-left: 275px;
}